.todo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 0.85em;
  border-bottom: 1px solid rgb(0, 0, 0, 0.25);
}

.todo-box:last-child {
  border: none;
}

.todo-box-left {
  max-width: 250px;
}

.todo-box-left p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-box-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-box-right input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.todo-box-right .delete-btn {
  font-size: 0.8em;
  margin-left: 0.5rem;
  background-color: hsl(0, 100%, 65%);
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
  border: none;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .todo-box {
    font-size: 0.75em;
  }

  .todo-box-left {
    max-width: 200px;
  }
}
